*{
    box-sizing:border-box;
    margin:0%;
    padding:0%
}
:root{
    --color-00: #151515;
    --color-01: #ecb51d;
    --color-02: #f7f3f3
}
body{
    background-color:var(--color-02);
    font-size:1.1rem
}
nav{
    background-color:var(--color-00)
}
nav img{
    width:70px;
    border-radius:100%
}
nav li{
    font-weight:bold
}
nav p{
    color:var(--color-01);
    font-weight:bold;
    line-height:1rem;
    margin-top:4px;
    font-size:25px;
    padding:0%
}
nav small{
    font-size:12px;
    color:var(--color-02)
}
.container00{
    text-align:center
}
img, video{
    width:100%;
    max-width:768px
}
h1,h2{
    padding:15px;
    text-align:left;
    font-size:30px;
    color:var(--color-01)
}
p{
    padding:0px 15px;
    text-align:left;
    line-height:2rem
}
footer{
    background-color:var(--color-00);
    text-align:center
}
footer h1{
    color:var(--color-01);
    text-align:center
}
footer button{
    margin-bottom:10px;
    width:200px
}
footer p{
    color:#454545;
    font-size:small;
    text-align:center;
    margin:0%;
    padding-bottom:10px
}


.container01 p{
    font-size:large
}
.container01 .textWhyPractice{
    display:none
}
.container02 address{
    padding:0px 15px;
    text-align:left
}
.container02 p{
    font-size:large
}
.container02 iframe{
    width:100%
}

.container03 {
    margin: 0px 3%;
}
.container03 a{
    color: var(--color-01);
    font-weight: bold;
}
.container03 > #testimony > img {
    width: 300px;
}

.container04 li{
    line-height:2rem;
    padding-right:15px;
    text-align:left
}
.container04 .videoImi{
    display:none
}

.container05{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    min-height:100vh
}
.container05 .card{
    box-shadow:1px 1px 10px rgba(0,0,0,.425);
    margin:15px;
    width:20rem;
    height:30rem
}
.container05 img{
    height:300px
}
.container05 .card-body{
    padding-top:0%
}
.container05 .card-body a:hover{
    scale:1.1
}
.container05 h2{
    text-align:center
}
.container05 a{
    font-weight:bold;
    color:var(--color-01)
}


.container07{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    min-height:100vh
}
.container07 .card{
    box-shadow:1px 1px 10px rgba(0,0,0,.425);
    margin:15px;
}
.container07 .card {
    width: 80%;
}
.container07 .card-body{
    padding-top:0%
}
.container07 .card-body a:hover{
    scale:1.1
}
.container07 h1, h2, h3 {
    padding: 0px 0px 0px 15px;
    margin: 10px 0px 0px 0px;
    text-align:left
}

.container07 h4 {
    padding-left: 15px;
    margin: 10px 0px;
    font-size: 1.2rem;
    text-align: left;
}
.container07 h4 > a {
    margin: 0px;
}
.container07 a{
    font-weight:bold;
    color:var(--color-01);
    margin: 10px;
}
.container07 .btn{
    width: 200px;
}


@media(max-width: 350px){
    nav p{
        display:none
    }
}
@media(min-width: 768px){
    .container03 > #testimony {
        justify-items:center;
        align-items:center;
        text-align:left;
        display:grid;
        grid-template-columns:35% 65%
    }

    nav p{
        font-size:35px
    }
    nav small{
        font-size:14px
    }
    footer .container06{
        display:inline
    }
    footer .container06 button{
        margin-bottom:15px;
        margin-left:15px
    }
    footer .container06 a{
        text-decoration:none
    }

    .container07 h2, h3 {
        padding: 10px;
        margin: auto;
        text-align: center;
    }
    .container07 h4 {
        text-align: center;
    }
    .container07 p {
        margin: auto;
        text-align: center;
        width: 80%;
    }
}
@media(min-width: 1024px){
    nav p{
        font-size:40px
    }
    nav small{
        font-size:17px
    }
    .container01{
        display:block
    }
    .container01 img{
        float:right;
        width:650px;
        margin-left:20px
    }
    .container01 .textWhyPractice{
        display:block
    }
    .container01 .textWhyPractice video{
        display:none
    }
    .container01 li{
        line-height:2rem;
        padding-right:15px;
        text-align:left
    }
    .container02{
        justify-items:center;
        align-items:center;
        text-align:left;
        display:grid;
        grid-template-columns:50% 50%
    }
    #textAdress h1{
        font-size:50px;
        margin:0%;
        padding:0%
    }
    #textAdress p,#textAdress address{
        font-size:30px;
        margin:0%;
        padding:0%
    }
    .liWhyPratice{
        display:none
    }

    .container03{
        text-align:center;
        position:relative;
        min-height:100vh;
        display:block
    }

    .container04{
        display:block
    }
    .container04 img{
        float:left;
        margin-right:20px;
        width:600px
    }
    .container04 .videoImi{
        display:block;
        margin-left:20px;
        margin-right:0%;
        float:right
    }
    .container04 .textWhyPractice{
        display:none
    }
}