* {
   box-sizing: border-box;
   margin: 0%;
   padding: 0%;
}

:root {
  --color-00: #252525;
  --color-01: #ecb51d;
  --color-02: #f7f3f3;
}

body {
   background-color: var(--color-00);
   font-size: 1.1rem;
}

h1, h2 {
   padding-top: 15px;
   font-size: 30px;
   text-align: center;
   color: var(--color-01);
}

p {
  padding: 15px;
  margin-bottom: 0px;
  line-height: 2rem;
  text-align: center;
}

nav {
   img {
      width: 70px; 
   }

   li {
      font-weight: bold;     
   }

}

.container00 {
   background-color: var(--color-02);

   p {
      text-align: justify;
      font-size: large;
   }
}

.container01 {
   background-color: var(--color-01);
   padding: 6px;
   margin: 20px;
   border-radius: 8px;

   h1 {
      color: var(--color-02);
   }

   p {
      padding-top: 0px;
   }

   img {
      border-radius: 8px;
   }
}

.container02 {
   background-color: var(--color-02); 
   
   li {

      line-height: 2rem;
      padding-right: 15px;
   }
}

footer {
   background-color: var(--color-01);

   h1 {
      color: var(--color-02);
   }
}


@media (min-width: 700px) {
   img {
   max-width: 700px;
   }
}