* {
   box-sizing: border-box;
   margin: 0%;
   padding: 0%;
}

:root {
  --color-00: #151515;
  --color-01: #ecb51d;
  --color-02: #f7f3f3;
}

body {
   background-color: var(--color-02);
   font-size: 1.1rem;
}

nav {
   background-color: var(--color-00);
   
   img {
      width: 70px;
      border-radius: 100%;
   }

   li {
      font-weight: bold;
   }
}

.container00 {
   text-align: center;
}

img {
   width: 100%;
   max-width: 768px;
}

h1, h2 {  
   padding: 15px;
   text-align: left;
   font-size: 30px;
   color: var(--color-01);
}

p {
   padding: 0px 15px;
   text-align: left;
   line-height: 2rem;
}

footer {
   background-color: var(--color-00);
   text-align: center;

   h1 {
      color: var(--color-01);
      text-align: center;
   }
   
   button {
      margin-bottom: 10px;
      width: 200px;
   }
}

@media (min-width: 768px) {
      footer {
         .container05 {
         display: inline;
         
         button {
         margin-bottom: 10px;
         margin-left: 15px;
         }

         a {
            text-decoration: none; 
         }
      }
   }
}

@media (min-width: 1024px) {
   .container00 {
      justify-items: center;
      align-items: center;
      text-align: left;
      display: grid;
      grid-template-columns: 50% 50%;     
   }
}