.container04 {   
   li {
      line-height: 2rem;
      padding-right: 15px;
      text-align: left;
   }

   .imgImi {
      display: none;
      }
}

@media (min-width: 1024px) {
   .container04 {
      display: block;

      img {
         float: left;
         margin-right: 20px;
         width: 600px;
      }
      
      .imgImi {
      display: block;
      margin-left: 20px;
      margin-right: 0%;
      float: right;
      }

      .textWhyPractice {
         display: none;
      }
   }
   
}