.container04 {   
   li {
      line-height: 2rem;
      padding-right: 15px;
      text-align: left;
   }
}

@media (min-width: 1024px) {
   .container04 {
      display: block;

      img {
         float: left;
         margin-right: 20px;
         width: 600px;
      }
      
      #imgRight {
      margin-left: 20px;
      float: right;
      }
   }
   
}