.container01 {
   background-color: var(--color-02);

   p {
      font-size: large;
   }
}

.container02 {
   background-color: var(--color-02);


   p {
      font-size: large;
   }

   iframe {
      width: 100%;
      max-width: 500px;
   }
}
